In [10]:
def max_two_numbers(num1,num2):
  if num1 > num2:
    return (num1)
  else : 
    return (num2)

def max_three_numbers(num1,num2,num3):
  m = max_two_numbers(num1,num2)
  fin = max_two_numbers(m,num3)
  return fin

num1 = input('Plz Enter 1st Number : ')
num2 = input('Plz Enter 2st Number : ')
num3 = input('Plz Enter 3st Number : ')
res = max_three_numbers(num1,num2,num3)
print("Max = :",res)

Plz Enter 1st Number : 5
Plz Enter 2st Number : 6
Plz Enter 3st Number : 2
Max = : 6

In [13]:
def UniqueList(NonUnique) : 
  res = []
  for n in NonUnique:
    if n not in res:
      res.append(n)
  return (res)

numbers=[1,2,3,3,3,4,4,6,7,8,9,5,2,6,0]

uni = UniqueList(numbers)
print(sorted(uni))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]