# Question 1:
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.

In [ ]:
def squFunc():
  dict={}
  for i in range(1,4):
    dict[i]=i**2
  print(dict)
squFunc()

{1: 1, 2: 4, 3: 9}

# Question 2:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [ ]:
def squValues():
  dict={}
  for i in range(1,21):
    dict[i]=i**2
  for x,y in dict.items():
      print(y)
squValues()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

# Question 3:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [ ]:
def squValues():
  dict={}
  for i in range(1,21):
    dict[i]=i**2
  for x,y in dict.items():
      print(x)
squValues()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Question 4 
Write a Python program to check a dictionary is empty or not

In [ ]:
dicto = {1:2}
if bool(dicto) is False:
  print('the dictionary is empty')
else:
  print("the dictionary is not empty")

the dictionary is not empty

# Question 5

Write a Python program to test whether every element in s is in t and every element in t is in s.

In [ ]:
s = [0, 1, 2]
t = [1, 0, 2]
if set(s) == set(t):
  print('the elements in list \"s\" and \"t\" are the same')
else:
  print('the elements in list \"s\" and \"t\" are not the same')

the elements in list "s" and "t" are the same

# Question 6
Create set 1 and set 2 then 
Write a Python program to 1- create an intersection of sets.
2-  a union of sets.
3- create set difference.
4- a symmetric difference.

In [ ]:
set1={0,1,2,7,8,9}
set2={0,1,2,3,4,5}
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{0, 1, 2}
{0, 1, 2, 3, 4, 5, 7, 8, 9}
{8, 9, 7}
{3, 4, 5, 7, 8, 9}

# Question  7
Write a Python program to use of frozensets.

In [ ]:
x = frozenset([1,2,3])
print(x)

frozenset({1, 2, 3})

# Question 8
Write a Python program to find maximum and the minimum value in a set.

In [ ]:
set=([3,6,2,8,9,4,5])
maxi=max(set)
mino = min(set)
print(maxi)
print(mino)

9
2

# Question9 :
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line. 

Hints:

Use [n1:n2] notation to get a slice from a tuple.

In [ ]:
x = (1,2,3,4,5,6,7,8,9,10)
full_x_len = int(len(tuple))
half_x_len = int(len(tuple)/2)
print(x[0:half_x_len])
print(x[half_x_len:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Question 10 :
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use itemgetter to enable multiple sort keys.

Solutions:
from operator import itemgetter, attrgetter

In [ ]:
from operator import itemgetter
info = input()
info_list = [tuple(case.split(',')) for case in info.split(' ')] 
print('Sort based on name: ',sorted(info_list, key=itemgetter(0)))
print('Sort based on age: ',sorted(info_list, key=itemgetter(1)))
print('Sort based on height: ',sorted(info_list, key=itemgetter(2)))

Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85
Sort based on name:  [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
Sort based on age:  [('Jony', '17', '91'), ('Jony', '17', '93'), ('Tom', '19', '80'), ('John', '20', '90'), ('Json', '21', '85')]
Sort based on height:  [('Tom', '19', '80'), ('Json', '21', '85'), ('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93')]

# Question 11:

Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.



Hints:
Use random.sample() to generate a list of random values.

In [ ]:
import random
print(random.sample([i for i in range(100,200)],5))

[162, 117, 153, 102, 185]

# Question 12
Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.

Hints:
Use random.sample() to generate a list of random values.

In [ ]:
import random
print(random.sample([i for i in range(100,200) if i%2==0], 5))

[156, 192, 126, 106, 104]

# Question 13
Please write a program to randomly print a integer number between 7 and 15 inclusive.

Hints: Use random.randrange() to a random integer in a given range.

In [ ]:
import random
print(random.randint(7,15))
print(random.randrange(7,15))

14
9

# Question 14

Please write a program to print the running time of execution of "1+1" for 100 times.
Hints:
Use timeit() function to measure the running time.

In [ ]:
from timeit import Timer
t = Timer("for i in range(100):1+1")
print(t.timeit())

1.7303455080000276

# Question 15 :

Please write a program to shuffle and print the list [3,6,7,8].

Hints:
Use shuffle() function to shuffle a list.

In [42]:
from random import shuffle
x = [3,6,7,8]
shuffle(x)
print(x)

[8, 3, 7, 6]