Introduction to Sets

In [ ]:
def average(array):
    # Introduction to Sets in Python - Hacker Rank Solution START
    sum_array = sum(set(array))
    len_array = len(set(array))
    output = sum_array/len_array
    return output;

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

No Idea!

In [ ]:
io = input().split()
m = int(io[0])
n = int(io[1])


count = 0

storage = list(map(int, input().strip().split()))

A = set(map(int, input().strip().split()))
B = set(map(int, input().strip().split()))

for i in storage:
    if i in A:
        count = count+1
    if i in B:
        count = count-1

print(count)

Set .add()

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n = int(input())
l_set = set()
for i in range(n):
    s = str(input())
    l_set.add(s)
total_distinct_countries = (len(l_set))
print(total_distinct_countries)

7
UK
China
USA
France
New Zealand
UK
France
5

Set .discard(), .remove() & .pop()

In [ ]:
n = int(input())
s = set(map(int, input().split()))
n_commands = int(input())
l_commands = list()
for i in range(n_commands):
    c = list(input().split())
    l_commands.append(c)

for i in range(n_commands):
    if l_commands[i][0] == "pop":
        s.pop()
    elif l_commands[i][0] == "remove":
        if int(l_commands[i][1]) in s:
            s.remove(int(l_commands[i][1]))
    elif l_commands[i][0] == "discard":
        s.discard(int(l_commands[i][1]))
            
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

Set .union() Operation

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
e = int(input())
e_n = set(map(int,input().split()))
f= int(input())
f_n = set(map(int,input().split()))
total_students = e_n.union(f_n)
total_students_numbers =len(total_students)
print(total_students_numbers)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

Set .intersection() Operation

In [ ]:
e = int(input())
e_n = set(map(int,input().split()))
f= int(input())
f_n = set(map(int,input().split()))
total_students = e_n.intersection(f_n)
total_students_numbers =len(total_students)
print(total_students_numbers)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

Set .difference() Operation

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
e = int(input())
e_n = set(map(int,input().split()))
f= int(input())
f_n = set(map(int,input().split()))
total_students = e_n.difference(f_n)
total_students_numbers =len(total_students)
print(total_students_numbers)

9
9 1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

Set .symmetric_difference() Operation

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
e = int(input())
e_n = set(map(int,input().split()))
f= int(input())
f_n = set(map(int,input().split()))
total_students = e_n.symmetric_difference(f_n)
total_students_numbers =len(total_students)
print(total_students_numbers)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

Set Mutations

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
a_numbers = int(input())
set_a = set(map(int,input().split()))
n = int(input())
for i in range(n):
    c = input().split()
    oper_name = c[0]
    len_oth_set = int(c[1])
    oth_set = set(map(int,input().split()))
    if oper_name == 'intersection_update':
        set_a.intersection_update(oth_set)
    elif oper_name == 'update':
        set_a.update(oth_set)
    elif oper_name == 'symmetric_difference_update':
        set_a.symmetric_difference_update(oth_set)
    elif oper_name == 'difference_update':
        set_a.difference_update(oth_set)
print(sum(set_a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7

Symmetric Difference

In [1]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
m = int(input())
m_integers = set(map(int, input().split()))
n = int(input())
n_integers = set(map(int, input().split()))
list_sym = sorted(m_integers.symmetric_difference(n_integers))
print(*list_sym,sep='\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12

The Captain's Room

In [2]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from collections import Counter
from operator import itemgetter
k = int(input())
room_numbers = list(map(int,input().split()))
x = Counter(room_numbers)
min_key, min_count = min(x.items(), key=itemgetter(1))

print(min_key)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

Check Subset

In [3]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
number_t = int(input())

for i in range(number_t):
    n_a = int(input())
    a = set(map(int,input().split()))
    n_b = int(input())
    b = set(map(int,input().split()))
    if a.issubset(b) == True:
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

Check Strict Superset

In [4]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

a = set(map(int,input().split()))
n_o = int(input())
output = True
for i in range(n_o):
    o = set(map(int,input().split()))
    if a.issuperset(o) != True:
        output = False
    if len(o) >= len(a):
        output = False
print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False