Say "Hello, World!" With Python

In [3]:
if __name__ == "__main__":
  print('Hello, World')

Hello, World

Python If-Else

In [6]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 == 1:
        print('Weird')
    elif (n % 2 == 0) & (n in range(2,6)):
        print('Not Weird')
    elif (n % 2 == 0) & (n in range(6,21)):
        print('Weird')
    elif (n % 2 == 0) & (n > 20):
        print('Not Weird')

22
Not Weird

Arithmetic Operators

In [7]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    def sumFunc(a,b):
        print(a+b)
    def subFunc(a,b):
        print(a-b)
    def prodFunc(a,b):
        print(a*b)
    sumFunc(a,b)
    subFunc(a,b)
    prodFunc(a,b)

3
4
7
-1
12

Python: Division

In [8]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    def divFunc(a,b):
      print(a//b)
      print(float(a/b))
    divFunc(a,b)

3
5
0
0.6

Loops

In [9]:
if __name__ == '__main__':
    n = int(input())
    for i in range(0,n):
        print(i**2)

5
0
1
4
9
16

Write a function

In [18]:
def is_leap(year):
    leap = False
    if 1900 < year <10**5:
        if year % 4 == 0:
            leap = True
            if year % 100 == 0:
                leap = False
                if year % 400 ==0:
                    leap = True

    
    return leap


year = int(input())
print(is_leap(year))

1992
True

Print Function

In [19]:
if __name__ == '__main__':
    n = int(input())
    if n in range(1,151):
        int_list=[]
        for i in range(1,n+1):
            print(str(i),end="")

4
1234