# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [3]:
import pandas as pd
dataframe = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(dataframe.shape)
print(dataframe.dtypes)
print(dataframe.head())

(53940, 10)
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [8]:
print(dataframe["carat"])
dataframe["Quality-color"] = dataframe["cut"] + ', ' + dataframe["color"]
print(dataframe["Quality-color"])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64
0            Ideal, E
1          Premium, E
2             Good, E
3          Premium, I
4             Good, J
             ...
53935        Ideal, D
53936         Good, D
53937    Very Good, D
53938      Premium, H
53939        Ideal, D
Name: Quality-color, Length: 53940, dtype: object

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [14]:
print(dataframe.describe())
print('only one column: ',dataframe['table'].describe())
print('only columns of the diamonds Dataframe: ',dataframe.describe(include="float64"))

              carat         depth         table         price             x  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184   3932.799722      5.731157
std        0.474011      1.432621      2.234491   3989.439738      1.121761
min        0.200000     43.000000     43.000000    326.000000      0.000000
25%        0.400000     61.000000     56.000000    950.000000      4.710000
50%        0.700000     61.800000     57.000000   2401.000000      5.700000
75%        1.040000     62.500000     59.000000   5324.250000      6.540000
max        5.010000     79.000000     95.000000  18823.000000     10.740000

                  y             z
count  53940.000000  53940.000000
mean       5.734526      3.538734
std        1.142135      0.705699
min        0.000000      0.000000
25%        4.720000      2.910000
50%        5.710000      3.530000
75%        6.540000      4.040000
max       58.900000     31.800000
only one column:  count    53940.000000
mean        57.457184
std          2.234491
min         43.000000
25%         56.000000
50%         57.000000
75%         59.000000
max         95.000000
Name: table, dtype: float64
              carat         depth         table             x             y  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184      5.731157      5.734526
std        0.474011      1.432621      2.234491      1.121761      1.142135
min        0.200000     43.000000     43.000000      0.000000      0.000000
25%        0.400000     61.000000     56.000000      4.710000      4.720000
50%        0.700000     61.800000     57.000000      5.700000      5.710000
75%        1.040000     62.500000     59.000000      6.540000      6.540000
max        5.010000     79.000000     95.000000     10.740000     58.900000

                  z
count  53940.000000
mean       3.538734
std        0.705699
min        0.000000
25%        2.910000
50%        3.530000
75%        4.040000
max       31.800000

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [15]:
print("Diamonds where length>5, width>5 and depth>5:")
result = dataframe[(dataframe["x"]>5) & (dataframe["y"]>5) & (dataframe["z"]>5)]
print(result.head())

Diamonds where length>5, width>5 and depth>5:
       carat   cut color clarity  depth  table  price     x     y     z  \
11778   1.83  Fair     J      I1   70.0   58.0   5083  7.34  7.28  5.12
13002   2.14  Fair     J      I1   69.4   57.0   5405  7.74  7.70  5.36
13118   2.15  Fair     J      I1   65.5   57.0   5430  8.01  7.95  5.23
13562   1.96  Fair     F      I1   66.6   60.0   5554  7.59  7.56  5.04
13757   2.22  Fair     J      I1   66.7   56.0   5607  8.04  8.02  5.36

      Quality-color
11778       Fair, J
13002       Fair, J
13118       Fair, J
13562       Fair, F
13757       Fair, J

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [18]:
dataframe.rename(columns={'price':'dataframe_price'}, inplace=True)
print("rename one col : ",dataframe.head())
dataframe.rename(columns={'color':'dataframe_color', 'carat':'dataframe_carat'}, inplace=True)
print("rename two col togeather: ",dataframe.head())
dataframe_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z',"new-Quality-color"]
dataframe.columns = dataframe_cols
print("\n renaming all the columns of thedataframe: ",dataframe)

rename one col :     dataframe_carat      cut dataframe_color clarity  depth  table  \
0             0.23    Ideal               E     SI2   61.5   55.0
1             0.21  Premium               E     SI1   59.8   61.0
2             0.23     Good               E     VS1   56.9   65.0
3             0.29  Premium               I     VS2   62.4   58.0
4             0.31     Good               J     SI2   63.3   58.0

   dataframe_price     x     y     z Quality-color
0              326  3.95  3.98  2.43      Ideal, E
1              326  3.89  3.84  2.31    Premium, E
2              327  4.05  4.07  2.31       Good, E
3              334  4.20  4.23  2.63    Premium, I
4              335  4.34  4.35  2.75       Good, J
rename two col togeather:     dataframe_carat      cut dataframe_color clarity  depth  table  \
0             0.23    Ideal               E     SI2   61.5   55.0
1             0.21  Premium               E     SI1   59.8   61.0
2             0.23     Good               E     VS1   56.9   65.0
3             0.29  Premium               I     VS2   62.4   58.0
4             0.31     Good               J     SI2   63.3   58.0

   dataframe_price     x     y     z Quality-color
0              326  3.95  3.98  2.43      Ideal, E
1              326  3.89  3.84  2.31    Premium, E
2              327  4.05  4.07  2.31       Good, E
3              334  4.20  4.23  2.63    Premium, I
4              335  4.34  4.35  2.75       Good, J

 renaming all the columns of thedataframe:         new_carat    new_cut new_color new_clarity  new_depth  new_table  \
0           0.23      Ideal         E         SI2       61.5       55.0
1           0.21    Premium         E         SI1       59.8       61.0
2           0.23       Good         E         VS1       56.9       65.0
3           0.29    Premium         I         VS2       62.4       58.0
4           0.31       Good         J         SI2       63.3       58.0
...          ...        ...       ...         ...        ...        ...
53935       0.72      Ideal         D         SI1       60.8       57.0
53936       0.72       Good         D         SI1       63.1       55.0
53937       0.70  Very Good         D         SI1       62.8       60.0
53938       0.86    Premium         H         SI2       61.0       58.0
53939       0.75      Ideal         D         SI2       62.2       55.0

       new_price  new_x  new_y  new_z new-Quality-color
0            326   3.95   3.98   2.43          Ideal, E
1            326   3.89   3.84   2.31        Premium, E
2            327   4.05   4.07   2.31           Good, E
3            334   4.20   4.23   2.63        Premium, I
4            335   4.34   4.35   2.75           Good, J
...          ...    ...    ...    ...               ...
53935       2757   5.75   5.76   3.50          Ideal, D
53936       2757   5.69   5.75   3.61           Good, D
53937       2757   5.66   5.68   3.56      Very Good, D
53938       2757   6.15   6.12   3.74        Premium, H
53939       2757   5.83   5.87   3.64          Ideal, D

[53940 rows x 11 columns]

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [35]:
result = dataframe[dataframe['new_cut'].isin(['Good', 'Very Good'])]
print(result)

       new_carat    new_cut new_color new_clarity  new_depth  new_table  \
2           0.23       Good         E         VS1       56.9       65.0
4           0.31       Good         J         SI2       63.3       58.0
5           0.24  Very Good         J        VVS2       62.8       57.0
6           0.24  Very Good         I        VVS1       62.3       57.0
7           0.26  Very Good         H         SI1       61.9       55.0
...          ...        ...       ...         ...        ...        ...
53927       0.79       Good         F         SI1       58.1       59.0
53932       0.70  Very Good         E         VS2       60.5       59.0
53933       0.70  Very Good         E         VS2       61.2       59.0
53936       0.72       Good         D         SI1       63.1       55.0
53937       0.70  Very Good         D         SI1       62.8       60.0

       new_price  new_x  new_y  new_z new-Quality-color
2            327   4.05   4.07   2.31           Good, E
4            335   4.34   4.35   2.75           Good, J
5            336   3.94   3.96   2.48      Very Good, J
6            336   3.95   3.98   2.47      Very Good, I
7            337   4.07   4.11   2.53      Very Good, H
...          ...    ...    ...    ...               ...
53927       2756   6.06   6.13   3.54           Good, F
53932       2757   5.71   5.76   3.47      Very Good, E
53933       2757   5.69   5.72   3.49      Very Good, E
53936       2757   5.69   5.75   3.61           Good, D
53937       2757   5.66   5.68   3.56      Very Good, D

[16988 rows x 11 columns]

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [41]:
print(dataframe.columns)
print('Mean of each column : ',dataframe.mean())
print('Mean of each row of diamonds DataFrame : ',dataframe.mean(axis=1))

Index(['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth',
       'new_table', 'new_price', 'new_x', 'new_y', 'new_z',
       'new-Quality-color'],
      dtype='object')
Mean of each column :  new_carat       0.797940
new_depth      61.749405
new_table      57.457184
new_price    3932.799722
new_x           5.731157
new_y           5.734526
new_z           3.538734
dtype: float64
Mean of each row of diamonds DataFrame :  0         64.727143
1         65.292857
2         65.651429
3         66.535714
4         66.864286
            ...
53935    412.932857
53936    412.981429
53937    413.628571
53938    413.267143
53939    412.898571
Length: 53940, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [44]:
print('Mean of price column : ',dataframe['new_price'].mean())
print('Mean of price column : ',dataframe.groupby('new_cut')['new_price'].mean())
print("many times each value in cut series of diamonds DataFrame occurs",dataframe['new_cut'].value_counts())

Mean of price column :  3932.799721913237
Mean of price column :  new_cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: new_price, dtype: float64
many times each value in cut series of diamonds DataFrame occurs Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: new_cut, dtype: int64

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [45]:
print("the number of missing values ",dataframe.isnull().sum())

the number of missing values  new_carat            0
new_cut              0
new_color            0
new_clarity          0
new_depth            0
new_table            0
new_price            0
new_x                0
new_y                0
new_z                0
new-Quality-color    0
dtype: int64